.ll-about-container {
    background-image: url(../assets/placeholder/about-section-placeholder.png);
    background-size: cover;
    background-position: center;
    min-height: 20%;
    height:600px;
    display: flex;
    justify-content: center;
}