/* styles for footer */
.ll-footer-main-container {
    flex: 3,2,auto;
    min-height: 15%;
    padding-top:1rem;
    padding-bottom:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ll-footer-main-item {
    flex: 1,0,auto;
}

.ll-footer-img {
    max-width: 20%;
}

.ll-footer-content-container {
    flex: 4,0,auto;
    padding-top:1rem;
    padding-bottom:0.5rem;
    display: flex;
    gap: 20%;
    justify-content: left;
    align-items: flex-start;
}

.ll-footer-content-item {
    min-height: 80%;
    size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: left;
    align-items: flex-start;
}

.ll-footer-content-item h3 {
    size: 20px;
    font-weight: 800;
}

