/* styles for header */
.ll-header-container {
    flex: 1,0,auto;
    min-height: 5%;
    padding-top:1rem;
    padding-bottom:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ll-header-img {
    height: 8vh;
}