.ll-testimonials-container {
    display: flex;
    justify-content: center;
    background-image: url(../assets/placeholder/testimonials-section-placeholder.png);
    background-size: cover;
    background-position: center;
    min-height: 20%;
    height:600px;
}