/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

.ll-ft-markazy-text-regular {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ll-ft-markazy-text-medium {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.markazi-text-semibold {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ll-ft-markazi-text-bold {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');

.ll-ft-karla-extralight {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.ll-ft-karla-light {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ll-ft-karla-regular {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ll-ft-karla-medium {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ll-ft-karla-semibold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ll-ft-karla-bold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ll-ft-karla-extrabold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
}

@media screen and (max-width: 767px) {
  * {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) {
  * {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 14px;
  }
}

.ll-std-background {
  background-color: white;
  color: black;
}

.ll-light-primary-background {
  background-color: #F4CE14;
  color: black;
}

.ll-dark-primary-background {
  background-color: #495E57;
  color: white;
}

.ll-footer-background {
  background-color: #F5F5F5;
  color: black;
}

.ll-temporary-background {
  background-color: lightgreen;
  color: black;
}

.ll-no-h-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.ll-margin-h-1rem {
  margin-right: 1rem;
  margin-left: 1rem;
  /* could be omitted when same as right margin */
}

/* style for fixing the header and nav on top */
.ll-fixed-area {
  position: fixed;
  /* To be continued : set value to fixed */
  top: 0px;
  z-index: 0;
  /* allows a proper focus on the nav buttons when scrolling */
  width: 100%;
}

.ll-app-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300vh;
}
